{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


{% load staticfiles %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/jasny-bootstrap.min.css' %}" type="text/css">

<div>
  <h1>Honeytip Add</h1>
  <p>Use this area to provide additional information.</p>
  <hr class="">

</div>

    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action=".">
    {% else %}
    <form method="post" action=".">
    {% endif %}
    {% csrf_token %}

    {% if form.errors %}
      {{form.error}}
    {% endif %}


<div class="col-md-3">
  <h4 class="">레시피 정보</h4>
</div>
<fieldset class="aligned">
  <div class="form-group">
    <label for="formGroupExampleInput"> {{ form.title.label_tag }}</label>
    {{ form.title }}
  </div>
  <div class="form-group">
    <div>
      <label for="formGroupExampleInput2">{{ form.titleimage.label_tag }}</label>
    </div>
    <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 25%; margin-right:30px; ">
    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
    </div>
    <div>
        {{form.titleimage}}
    </div>
    </div>
  </div>
</fieldset>

<hr class="">
<div class="col-md-3">
  <h4 class="">레시피 정보</h4>

</div>


<fieldset class="aligned">
      <table class="table">
          {{ formset.management_form }}

          {% for form in formset.forms %}
              {{form.id}}
              
              {% if forloop.first %}
                  <thead>
                  <tr>
                      {% for field in form.visible_fields %}
                          <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                  </tr>
                  </thead>
              {% endif %}
              <tr class="{% cycle row1 row2 %} formset_row"> 

                <td>
                    <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 25%; margin-right:30px; ">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                    </div>
                    <div>
                        {{form.honeyimage}}
                    </div>
                  </div>
                </td>
                <td>
                  {{form.honeydescription}}
                </td>
                <td>
                {{form.DELETE}}
                </td>
              </tr>
          {% endfor %}
      </table>
</fieldset>
      <hr style="border: 0px">
      <center>
        <input class="btn btn-default btn-file" type="Submit" value="Submit"/> 
        <a class="btn btn-default btn-file" href="{% url 'honeytip:index' %}">back to the list</a>

      </center>
      
      <hr style="border: 0px">
  </form>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'add family member',
            deleteText: 'remove',
            prefix: 'contents_set'
        });
    </script>
    <script type="text/javascript">document.getElementById('id_name').focus();</script>
{% endblock %}
