{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>



<style>
  #comments {
    float:right;

  }

  #comment-wrapper {
    position: relative;
  }

  #commentWrapper { /* required to avoid jumping */
    left: 450px;
    position: relative;
    margin-left: 35px;
    width:280px;
  }

  #comment {
    position: relative;
    top: 0;
    margin-top: 20px;
    border-top: 0px;
    padding-top: 19px;
    width:350px;

  }

  #comments ol li {
    border-top: 0px;
  }

  #comments ol li:first-child {
    border-top: 0;
  }

  #comment.fixed {
    position: fixed;
    top: 0;
  }

  .borderless td, .borderless th {
    border: none;
  }

</style>

{% load staticfiles %}
<script src="{% static 'js/jquery-1.4.3.min.js' %}"></script>
<script src="{% static 'js/recipe_detail.js' %}"></script>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <h1>Recipe Details <small>- category</small></h1>
            </div>
          </div>
        </div>
        <hr class="">
        <div class="row">
          <div class="col-md-12">       
            {% for recipeinfo in object.recipeinfo_set.all %}
              <img class="center-block img-fluid d-block" src="{{ recipeinfo.image.url }}" style = "width: 100%; height: auto;">
              <br>
              <h4>{{ recipeinfo.description}}</h4>
              <br>
              <br>
            {% endfor %}
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4">
        
          <div class="card-block" style="word-break:break-all; word-wrap:break-word;">
            <h3 class="card-title">{{ object.title }}</h3>
            <p class="lead">{{ object.foodname }} </p>
            <img style="width:250px;height:250px" src="{{ object.titleimage.thumb_url }}" />
            <div class="table-responsive">          
              <table class="table">
                <tbody>
                  <tr>
                    <td width="50">{% load staticfiles %}
                      <img src="{% static 'img/glyphicons-4-user.png' %}" style="width: 20px; height: 20px">
                    </td>
                    <td>작성자</td>
                    <td>{{ object.owner }}</td>
                  </tr>
                  <tr>
                    <td width="50">{% load staticfiles %}
                      <img src="{% static 'img/glyphicons-55-clock.png' %}" style="width: 20px; height: 20px">
                    </td>
                    <td>조리시간</td>
                    <td>{{ object.cookingtime }} 분 소요</td>
                  </tr>
                  <tr>
                    <td width="50">{% load staticfiles %}
                      <img src="{% static 'img/glyphicons-52-eye-open.png' %}" style="width: 20px; height: 15px">
                    </td>
                    <td>조회수</td>
                    <td>{{ hitcount.total_hits }}</td>
                  </tr>
                  <tr>
                    <td width="50">{% load staticfiles %}
                      <img src="{% static 'img/glyphicons-20-heart-empty.png' %}" style="width: 20px; height: 20px">
                    </td>
                    <td>스크랩수</td>
                    <td>{{ object.scraps }}</td>
                  </tr>

                </tbody>
              </table>
            </div>

          {% if user.is_authenticated and user == recipe.owner %}
            <center>
              <a href="{% url 'recipe:delete' recipe.slug %}" class="btn btn-primary" role="button">Delete</a>
              <a href="#" class="btn btn-default" role="button">Update</a>
            </center> 
          {% else %}
              <center>
                  <a href="#" class="btn btn-default" role="button">즐겨찾기</a>
              </center> 
            
          {% endif%}





          </div>
          <div id="comment">
            <hr class="">
            <h3 class="card-title">재료리스트 <small>- {{ object.servings }} 인기준</small> </h3>
            <ul class="list-group">
              {% for foodinfo in object.foodinfo_set.all %}
              <li class="list-group-item">{{ foodinfo.ingredient}} {{ foodinfo.quantity}} </li>
              {% endfor %}
            </ul>
          </div>
      </div> 


    </div>
  </div>
</div>

<div>
{% load disqus_tags %}
{% disqus_show_comments %}
</div>


{% endblock %}