{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

<style>
  #comments {
    float:right;

  }

  #comment-wrapper {
    position: relative;
  }

  #commentWrapper { /* required to avoid jumping */
    left: 450px;
    position: relative;
    margin-left: 35px;
    width:280px;
  }

  #comment {
    position: relative;
    top: 0;
    margin-top: 20px;
    border-top: 0px;
    padding-top: 19px;
    width:350px;

  }

  #comments ol li {
    border-top: 0px;
  }

  #comments ol li:first-child {
    border-top: 0;
  }

  #comment.fixed {
    position: fixed;
    top: 0;
  }
</style>

<script src="./jquery-1.4.3.min.js"></script>

<script>
  function checkMobileDevice() {
      var mobileKeyWords = new Array('Android', 'iPhone', 'iPod', 'BlackBerry', 'Windows CE', 'SAMSUNG', 'LG', 'MOT', 'SonyEricsson');
      for (var info in mobileKeyWords) {
          if (navigator.userAgent.match(mobileKeyWords[info]) != null) {
              return true;

          }
      }
      return false;
  }

  $(function () {
    
    var msie6 = $.browser == 'msie' && $.browser.version < 7;
    var device = checkMobileDevice();
      
      if (device){
        $('#comment').removeClass('fixed');
      }
      else{
        if (!msie6) {
          var top = $('#comment').offset().top - parseFloat($('#comment').css('margin-top').replace(/auto/, 0));
          $(window).scroll(function (event) {
            // what the y position of the scroll is
            var y = $(this).scrollTop();
            
            // whether that's below the form
            if (y >= top) {
              // if so, ad the fixed class
              $('#comment').addClass('fixed');
            } else {
              // otherwise remove it
              $('#comment').removeClass('fixed');
            }
          });
        }  
      }  
  });
</script> 

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <h1>Recipe Details <small>- category</small></h1>
            </div>
          </div>
        </div>
        <hr class="">
        <div class="row">
          <div class="col-md-12">       
            {% for recipeinfo in object.recipeinfo_set.all %}
              <img class="center-block img-fluid d-block" src="{{ recipeinfo.image.url }}" style = "max-width: 100%; height: auto;">
              <br>
              <h6 class="lead">{{ recipeinfo.description}}</h6>
            {% endfor %}
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4">
        <div id="comment">
          <div class="card-block">
            <h3 class="card-title">{{ object.foodname }}</h3>
            <p class="lead">{{ object.title }} </p>
            <h6 class="card-subtitle text-muted">{{ object.owner }}</h6>
            <p class="card-text p-y-1">{{ object.Servings }} 인분, {{ object.cookingtime }} 분 소요</p>
            <a href="#" class="card-link">link</a>
            <a href="#" class="card-link">Second link</a>
          </div>
            <hr class="">
            <h3 class="card-title">재료리스트 <small>- 1인기준</small> </h3>
            <ul class="list-group">
              {% for foodinfo in object.foodinfo_set.all %}
              <li class="list-group-item">{{ foodinfo.ingredient}} {{ foodinfo.quantity}} </li>
              {% endfor %}
            </ul>
        </div>
      </div> 
    </div>
  </div>
</div>

{% endblock %}