{% extends "base.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


{% load staticfiles %}
<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jasny-bootstrap.min.css' %}" type="text/css">

<div>
  <h1>Recipe Add</h1>
  <p>Use this area to provide additional information.</p>
  <hr class="">

</div>

  {% if form.is_multipart %}
  <form class="form-horizontal" enctype="multipart/form-data" method="post" action=".">
  {% else %}
  <form class="form-horizontal" method="post" action=".">
  {% endif %}
  {% csrf_token %}

  {% if form.errors %}
  <p class="errornote">{{form.errors}}</p>
  {% endif %}

<div class="col-md-3">
  <h4 class="">레시피 정보</h4>
</div>


<fieldset class="aligned" style="border: 0;">
  <div class="form-group">
    <label for="formGroupExampleInput" class="col-sm-2 control-label">
      {{ form.title.label_tag }}
    </label>
      {{ form.title }}
  </div>

  <div class="form-group">
    <div>
      <label for="formGroupExampleInput" class="col-sm-2 control-label">{{ form.titleimage.label_tag }}</label>
    </div>
      <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 25%; margin-right:30px; ">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
        </div>
        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new">Select image</span>
            <span class="fileinput-exists">Change</span>
             {{form.titleimage}}
          </span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput" class="col-sm-2 control-label">
      {{ form.foodname.label_tag }}
    </label>
    
      {{ form.foodname }}
    
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput" class="col-sm-2 control-label">
      {{ form.servings.label_tag }}
    </label>
    
      {{ form.servings }}
    
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput" class="col-sm-2 control-label">
      {{ form.cookingtime.label_tag }}
    </label>
    
      {{ form.cookingtime }}
    
  </div>

</fieldset>

<hr class="">
<hr style="border: 0px;">
<div class="col-md-3">
  <h4 class="">재료정보</h4>
  <p style="color:#b7b7b7;">위아래 드래그해서 순서 변경가능 </p>
</div>

  <hr style="border: 0px;">



<fieldset class="aligned" style="border: 0;">
<div class="table-responsive">
    <table class="table table-condensed">
    {{ foodinfo_form.management_form }}

    {% for form in foodinfo_form.forms %}
      {{form.id}}
        {% if forloop.first %}
            <thead>
            <tr>
                {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tr class="{% cycle row1 row2 %} foodinfo_row">
            {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
</fieldset>

<hr class="">
<hr style="border: 0px;">
<div class="col-md-3">
  <h4 class="">조리방법</h4>
  <p style="color:#b7b7b7;">위아래 드래그해서 순서 변경가능 </p>
</div>


<fieldset class="aligned" style="border: 0;">
<div class="table-responsive">
    <table class="table table-condensed">
      {{ recipeinfo_form.management_form }}
      
      {% for form in recipeinfo_form.forms %}
        {{form.id}}
          {% if forloop.first %}
              <thead>
              <tr>
                  {% for field in form.visible_fields %}
                      <th>{{ field.label|capfirst }}</th>
                  {% endfor %}
              </tr>
              </thead>
          {% endif %}
          <tr class="{% cycle row1 row2 %} recipeinfo_row">
             
                  <td>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                      </div>
                      <div>
                        <span class="btn btn-default btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                            {{form.image}}
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{form.description}}
                  </td>
                  <td>
                  {{form.DELETE}}
                  </td>
              
          </tr>
      {% endfor %}
    </table>    
  </div>
</fieldset>
      <hr style="border: 0px">
      <center>
        <input class="btn btn-default btn-file" type="Submit" value="Submit"/> 
        <a class="btn btn-default btn-file" href="{% url 'recipe:index' %}">back to the list</a>

      </center>
      
      <hr style="border: 0px">

</form>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
      $('.foodinfo_row').formset({
                addText: 'add foodinfo',
                deleteText: 'remove',
                prefix: 'foodinfo_set'
      });
    </script>
    <script type="text/javascript">
        $('.recipeinfo_row').formset({
            addText: 'add recipeinfo',
            deleteText: 'remove',
            prefix: 'recipeinfo_set'
        });
    </script>


{% endblock %}
