{% extends "base.html" %}

{% block title %}login.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div class="section">       
    <div class="title-area">
        <h2>Please Login</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description"></p>
            <form method="post" action="."> 
    {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-warning">
              <strong>Warning!</strong> {{form.errors}}
            </div>
            {% endif %}
            
                <div class="form-row col-xs-6">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="username" autofocus="" required="" id="id_username" class="form-control" maxlength="50" placeholder="username">
                    
                </div>
                <div class="form-row col-xs-6">
                    <i class="fa fa-lock" aria-hidden="true"></i><input type="password" class="form-control" name="password" required="" id="id_password" placeholder="password">
                </div>
            

            <div class="submit-row">
                <input type="submit" class ="btn btn-danger btn-fill btn-md" value="Log In"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            
            <script type="text/javascript">document.getElementById("id_username").focus();
            </script>
    </form>
    </div>
<center>
<h4><a href="{% url 'social:begin' 'facebook' %}"> <i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a></h4>
</center>
</div>

{% endblock %}
