
{% extends "base.html" %}

{% block title %}identification.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}

<div class="section">       
    <div class="title-area">
        <h2>회원탈퇴</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description">본인 확인을 위해 비밀번호를 입력해주세요!</p>
            <form method="post" action="{% url 'mypage:user_delete' %}"> 
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-warning">
              <strong>Warning!</strong> {{form.errors}}
            </div>
            {% endif %}

                <div class="form-row col-xs-6">
                    <i class="fa fa-lock" aria-hidden="true"></i><input type="password" class="form-control" name="password" required="" id="id_password" placeholder="password">
                </div>
            

            <div class="submit-row">
                <input type="submit" class ="btn btn-danger btn-fill btn-md" value="탈퇴하기"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            
            <script type="text/javascript">document.getElementById("id_username").focus();
            </script>
    </form>
    </div>

</div>
{% endblock %}