{% extends "base1.html" %}
{% load staticfiles %}
{% block content %}

    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url({% static 'img/office-1.jpeg' %})">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <img src="{% static 'img/3.png' %} " style="width: 15%; height: 15%" />
                        <h1 class="title-modern">DockorMaster</h1>
                        <h3>Welcome to DockorMaster. Let's share your recipes and useful information with a variety of people.</h3>
                        <div class="separator line-separator">♦</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Our Services</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">DM의 대표 어플은 1인가구의 증가 추세에 발맞춰 푸드테크 어플인 "해먹남녀"를 모트브로 만든 Recipe라는 앱과, 자취 생활에 유용한 정보들을 한곳에 모아 공유 할 수 있는 Hoenytip이라는 앱이 있다. 아래의 숫자는 DM을 이용하는 사용자와, 오늘의 방문자, 포스팅된 게시글의 수 이다.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <h3>Today's visitors</h3>
                        {% for today in todayvisitors %}
                            <div class="number text-danger"><h2>{{today.todaycount}}</h2></div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-note2"></i>
                            </div>
                            <h3>Total Posts</h3>
                            <div class="number text-danger"><h2>{{total}}</h2></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-users"></i>
                            </div>
                            <h3>Members</h3>
                            <div class="number text-danger"><h2>{{usercount}}</h2></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url({% static 'img/header-2.jpeg' %})">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2>Who We Are</h2>
                            <div class="separator separator-danger">✻</div>
                            <p class="description">아래는 DM 프로젝트의 팀원들이다. DM 프로젝트의 팀원은 3명이고, 각자 맡은 역할과 프로젝트를 진행하면서 느꼈던 소감을 작성했다.</p>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="{% static 'img/faces/face_1.png' %} "/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">sujin Han</h3>
                                                    <p class="small-text">Web Development</p>
                                                    <p class="description"> My role is to define the url pattern and model schema and develop the internal functionality. We used an open source called bootstrap for a responsive web app</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="{% static 'img/faces/face_4.png' %}"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">yeon ju Park </h3>
                                                    <p class="small-text">Web Design/surveying</p>
                                                    <p class="description">Hello, I will introduce myself. My name is Park Yeon-joo and I am 24 years old. It was the first project, so I was very sick. My role was to upload materials, web design and content.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="{% static 'img/faces/face_3.png' %}"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Bo Gyoung Kim</h3>
                                                    <p class="small-text">Writing and surveying</p>
                                                    <p class="description">Hello medical it engineering and small giant Kim Bo Kyung. My role has been to contribute to the design of the web, uploading content, and creating a delivery app.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


{% endblock %}
